@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	
	<p>
		With version 3.0.420 of WebOptimizer everything is working but not if you use any newer than that version.

		There are two examples here, the other icon is in this very project and the other simulates a Razor library with a library.
	</p>
	
	<p>
		Question mark should work:
	</p>	
	<i class="questionmark-test"></i>

	<p>
		The icon from the library does not work either:
	</p>
	<i class="ion-ios-person" style="font-size:32px"></i>
</div>
