@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	
	<p>
		With version 3.0.420 of WebOptimizer everything is working but not if you use any newer than that version.
	<p>
		
	Question mark should work:
	</p>	
	<i class="questionmark-test"></i>	
</div>
