@addTagHelper *, WebOptimizer.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - UIProject</title>
	<link rel="stylesheet" href="@UIProject.Models.ApplicationSettings.CssBundleName" />
</head>
<body>
	<div>
		@RenderBody()
	</div>
	<script src="~/bundle.js"></script>
</body>
</html>


